{% extends "base.html" %}

{% block body_block %}
<div class="container mx-auto p-8 bg-[#f5f5f5] rounded-lg shadow-lg">
    <h2 class="text-3xl font-bold text-center text-[#0B391C] mb-6">Register</h2>
    <form method="POST" class="bg-white rounded-lg p-6 shadow-md">
      {% csrf_token %}
      <div class="mb-4">
        <label for="username" class="block text-gray-700">Username:</label>
        <input type="text" class="w-full p-3 border border-gray-300 rounded-lg" id="username" name="username" required>
      </div>
      <div class="mb-4">
        <label for="firstname" class="block text-gray-700">First Name:</label>
        <input type="text" class="w-full p-3 border border-gray-300 rounded-lg" id="firstname" name="firstname" required>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Email:</label>
        <input type="email" class="w-full p-3 border border-gray-300 rounded-lg" id="email" name="email" required>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700">Password:</label>
        <input type="password" class="w-full p-3 border border-gray-300 rounded-lg" id="password" name="password" required>
      </div>
      <div class="mb-4">
        <label for="mobile" class="block text-gray-700">Mobile:</label>
        <input type="text" class="w-full p-3 border border-gray-300 rounded-lg" id="mobile" name="mobile" required>
      </div>
      <div class="mb-4">
        <label for="gender" class="block text-gray-700">Gender:</label>
        <select class="w-full p-3 border border-gray-300 rounded-lg" id="gender" name="gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="address" class="block text-gray-700">Address:</label>
        <textarea class="w-full p-3 border border-gray-300 rounded-lg" id="address" name="address" required></textarea>
      </div>
      <div class="mb-4">
        <label for="city" class="block text-gray-700">City:</label>
        <input type="text" class="w-full p-3 border border-gray-300 rounded-lg" id="city" name="city" required>
      </div>
      <div class="mb-4">
        <label for="state" class="block text-gray-700">State:</label>
        <input type="text" class="w-full p-3 border border-gray-300 rounded-lg" id="state" name="state" required>
      </div>
      <button type="submit" class="w-full bg-[#0B391C] text-white p-3 rounded-lg font-bold hover:bg-[#0B391C] transition duration-300">Register</button>
    </form>
</div>
{% endblock %}
