{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<script src="{% static 'script.js' %}"></script>
<script>
    const csrfToken = "{{ csrf_token }}";  // Add CSRF token as a global variable
</script>
{% endblock %}
{% block body_block %}
<div class="m-0 p-0 w-screen h-screen flex justify-center p-6 bg-[#f5f5f5]">
{% comment %} <main class="container mx-auto my-8 p-6 bg-white rounded-lg "> {% endcomment %}
    <div class="w-4/5 h-full p-2 overflow-y-auto" style="scrollbar-width: none;">
    <section>
        <h2 class="text-2xl font-bold mb-4">About Us</h2>
        <p class="text-gray-700 mb-4">
            Welcome to EV Depot! We are dedicated to providing you with the best electric vehicles (EVs) in the market.
            Our mission is to make sustainable transportation accessible and affordable for everyone. Whether you're
            looking for a bike, car, or truck, we have a wide range of options to suit your needs.
        </p>
        <p class="text-gray-700 mb-4">
            At EV Depot, we believe in the power of electric vehicles to transform the way we move and reduce our
            carbon footprint. Our team is passionate about promoting green energy and helping our customers find the
            perfect EV for their lifestyle.
        </p>
        <p class="text-gray-700 mb-4">
            Thank you for choosing EV Depot. If you have any questions or need assistance, please feel free to reach out
            to our friendly support team.
        </p>
    </section>

    <section class="mt-8 flex flex-col gap-4">
        <h3 class="text-xl font-bold mb-2">Our Team</h3>
        <div class="flex gap-4">
            <div class="p-0 bg-gray-50 rounded-lg w-40">
                <img src={% static "rudra.jpg" %} alt="Team Member 1" class="w-full h-48 object-cover rounded-lg mb-4">
                <h4 class="text-lg font-semibold px-3 text-center">Rudra Patel</h4>
            </div>
            <div class="p-0 bg-gray-50 rounded-lg w-40">
                <img src={% static "chintantripathi.jpeg" %} alt="Team Member 2" class="w-full h-48 object-cover rounded-lg mb-4">
                <h4 class="text-lg font-semibold px-3 text-center">Chintan Tripathi</h4>
            </div>
            <div class="p-0 bg-gray-50 rounded-lg w-40">
                <img src={% static "talha.jpg" %} alt="Team Member 3" class="w-full h-48 object-cover rounded-lg mb-4">
                <h4 class="text-lg font-semibold px-3 text-center">Mohammed Talha Haseeb</h4>
            </div>
            <div class="p-0 bg-gray-50 rounded-lg w-40">
                <img src={% static "dharshan.jpg" %} alt="Team Member 1" class="w-full h-48 object-cover rounded-lg mb-4">
                <h4 class="text-lg font-semibold px-3 text-center">Dharshan Venkatesan</h4>
            </div>
            <div class="p-0 bg-gray-50 rounded-lg w-40">
                <img src={% static "deepika.jpg" %} alt="Team Member 2" class="w-full h-48 object-cover rounded-lg mb-4">
                <h4 class="text-lg font-semibold px-3 text-center">Deepika Venkatesan</h4>
            </div>
            <div class="p-0 bg-gray-50 rounded-lg w-40">
                <img src={% static "divya.jpg" %} alt="Team Member 3" class="w-full h-48 object-cover rounded-lg mb-4">
                <h4 class="text-lg font-semibold px-3 text-center">Divya Patel</h4>
            </div>
            <div class="p-0 bg-gray-50 rounded-lg w-40">
                <img src={% static "gull.jpg" %} alt="Team Member 3" class="w-full h-48 object-cover rounded-lg mb-4">
                <h4 class="text-lg font-semibold px-3 text-center">Gull Daudi</h4>
            </div>
        </div>
    </section>
</div>
</div>
{% comment %} </main> {% endcomment %}
{% endblock %}