{% load static %}
<div class="bg-[#0B391C] py-4 px-20">
    <div class="bg-black rounded-lg py-4 px-10 flex items-center justify-between">
        <img src="{% static "logo.png" %}" class="h-10 w-auto">
        <div class="flex items-center justify-center gap-x-6">
            <img src="{% static "twitter.png" %}" class="h-6 w-auto">
            <img src="{% static "insta.png" %}" class="h-6 w-6">
            <img src="{% static "fb.png" %}" class="h-6 w-auto">
            <img src="{% static "linkedin.png" %}" class="h-6 w-auto">
        </div>
    </div>
</div>