{% load static %}
<nav class="flex items-end justify-between px-24 py-6 w-full h-fit bg-black">
    <img src="{% static "logo.png" %}" class="h-10 w-auto">
    <div class="flex items-center justify-center gap-x-8">
        <a href="/" class="text-white font-semibold text-lg leading-none">Home</a>
        <a href="#" class="text-white font-semibold text-lg leading-none">About</a>
        <a href="/bikes" class="text-white font-semibold text-lg leading-none">Vehicles</a>
        <a href="#" class="text-white font-semibold text-lg leading-none">Profile</a>
    </div>
</nav>