{% extends "base.html" %}
{% block body_block %}
<h1 class="text-3xl font-semibold text-gray-800 mb-4">{{ vehicle.name }} Details</h1>
<div class="border border-gray-200 shadow-lg bg-white p-4">
    <h2 class="text-2xl font-semibold text-gray-800">{{ vehicle.name }}</h2>
    <p>Price: ${{ vehicle.price }}</p>
    <p>Posted At: {{ vehicle.created_at|date:"F j, Y" }}</p>

    <h2 class="text-xl font-semibold text-gray-800 mt-4">Reviews and Ratings</h2>
    {% for review_rating in review_ratings %}
    <div class="border-b border-gray-200 py-2">
        <p><b>{{ review_rating.user.username }}:</b> {{ review_rating.review }}</p>
        <p>Rating: {{ review_rating.rating }} stars</p>
        <p>Reviewed At: {{ review_rating.created_at|date:"F j, Y" }}</p>
    </div>
    {% empty %}
    <p>No reviews yet.</p>
    {% endfor %}

    <a href="{% url 'orders:submit_review_rating' vehicle_type vehicle.id %}" class="bg-blue-600 hover:bg-blue-800 transition text-white py-2 px-4 rounded mt-4">Submit Review and Rating</a>
</div>
{% endblock %}
